/* .bg-img1 {
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(./Background/Image2.jpg);
  display: block;
  width: 100vw;
  height: 75vh;
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(./Background/Image3.jpg);
  display: block;
  width: 100vw;
  height: 75vh;
} */
